:root{
    --primary: #494968;
    --primary-dark: #1e1e2e;
    --secondary: #fff;
    --light: #f0f0f0;
    --medium: #cacaca;
    --dark: #a2a2a2;
    --dark-text: #626262;
    --black: #000;
    
}
/*CoNFIG GRADIENT COLOR*/
.text-gradient{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%);
    -webkit-background-clip: text;
}

/*SCROLLBAR*/
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #a2a2a2;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }